<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <title>Software Engineer Coding Challenge | StockX</title>
</head>
<body>
  <nav class="container">
    <a href="/admin">Admin</a>
    <a href="/api">API</a>
  </nav>

  <header class="container">
    <img src="/static/img/stockx-homepage-logo-dark.svg" alt="StockX">
    <h1>Software Engineer Coding Challenge</h1>
  </header>

  <div class="container">
    <h2>This Solution</h2>
    <ul>
      <li>
        Source: <a target="_blank" href="https://www.gitlab.com/ryangallen/stockx">gitlab.com/ryangallen/stockx</a>
      </li>
      <li>Implemented in Python with Django &amp; Django Rest Framework</li>
      <li>
        Data can be created/read/updated/deleted through standard REST endpoints:
        <ul>
          <li><a href="/api/brands">/api/brands</a></li>
          <li><a href="/api/shoes">/api/shoes</a></li>
          <li><a href="/api/shoe-true-to-size-values">/api/shoe-true-to-size-values</a></li>
        </ul>
      </li>
      <li>
        Data can be managed through the <a href="/admin">admin</a> panel. A default user account is
        set up for demonstration purposes:
        <ul>
          <li>Username: root</li>
          <li>Password: stockXdemo</li>
        </ul>
      </li>
    </ul>

    <h3>Shoes Available</h3>

    {% if shoes %}
    <div id="shoebox" class=clear>
      {% for shoe in shoes %}
      <a href="/api/shoes/{{ shoe.id }}">
        <div class="shoe">
          <div>{{ shoe }}</div>
          {% if shoe.true_to_size_display %}
          <small>(Runs {{ shoe.true_to_size_display }})</small>
          {% endif %}
        </div>
      </a>
      {% endfor %}
    </div>
    {% else %}
    <p>No shoes have been added yet.</p>
    {% endif %}

    <hr>

    <h2>Challenge Details</h2>
    <p>
      A large number of sales on StockX are sneakers. However, not all sneakers fit the same (e.g.,
      adidas Yeezys run a size small, therefore, if you are typically a size 9, you would buy a size 10
      Yeezy). In other words, shoes are not always "true-to-size". True-to-size refers to whether or not
      a shoe fits as expected for a given size. True shoe sizes are measured using the Brannock device,
      the number shown on that device next to your toe is your true shoe size. What we are interested
      in is letting a user know how the shoe fits based on data collected through crowdsourcing. For
      this project, crowdsourcing can be you posting data to your program, repeatedly.
    </p>
    <p>
      Your goal is to create a service, preferably written in <a href="https://golang.org">Go</a>, that will accept new
      true-to-size data through the Hypertext Transfer Protocol (HTTP) and store this data in a relational
      database, preferably Postgres. Additionally, this service should be able to return a shoe’s
      `TrueToSizeCalculation`, defined below, through an HTTP request. True to size entries range between
      1 and 5, inclusive, where 1: really small, 2: small, 3: true to size, 4: big and 5: really big.
    </p>

    <pre>TrueToSizeCalculation = average of the true-to-size entries for a given shoe</pre>

    <h3>Example</h3>
    <table>
      <tr>
        <th>Shoe</th>
        <td>Adidas Yeezy</td>
      </tr>
      <tr>
        <th>True to size data</th>
        <td>1, 2, 2, 3, 2, 3, 2, 2, 3, 4, 2, 5, 2, 3</td>
      </tr>
      <tr>
        <th>True to size calculation</th>
        <td>2.5714285714286</td>
      </tr>
    </table>

    <p>
      If we add another data point, 2, to the collected data, our calculation should reflect this change.
    </p>

    <table>
      <tr>
        <th>Shoe</th>
        <td>Adidas Yeezy</td>
      </tr>
      <tr>
        <th>True to size data</th>
        <td>1, 2, 2, 3, 2, 3, 2, 2, 3, 4, 2, 5, 2, 3, 2</td>
      </tr>
      <tr>
        <th>True to size calculation</th>
        <td>2.5333333333333</td>
      </tr>
    </table>

    <h3>Some Things to Know</h3>
    <ul>
      <li>
        If for some reason you get stumped, feel free to <a href="mailto:miles@stockx.com">email</a>
        for assistance.
      </li>
      <li>
        This exercise is not meant to be stressful or cut-throat so do your best.
      </li>
      <li>
        Do not worry about whether the data you are “crowdsourcing” is correct in the real world,
        i.e., in this example, your data might show that an adidas Yeezy fits too small. What you
        should focus on is ensuring that your program is able to calculate the appropriate true to
        size metric for an arbitrary set of true-to-size data.
      </li>
      <li>
        Also, this should be able to be run on any engineer’s local machine, this includes the
        database. In order to make this possible, please document the necessary steps to get
        your service and the necessary technologies running locally.
      </li>
      <li>
        While it is not a requirement, one way to ensure a system behaves as expected on many
        machines is to containerize the system. One technology for doing this is Docker.
      </li>
    </ul>
  </div>
</body>
</html>
