{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% trans 'StockX Admin' %}{% endblock %}

{% block extrahead %}<link rel="shortcut icon" href="/favicon.ico">{% endblock extrahead %}

{% block branding %}
<h1 id="site-name">
  <a href="/admin">{% trans 'StockX Admin' %}</a>
</h1>
{% endblock %}

{% block welcome-msg %}
    {% trans 'Hello' %},
    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
{% endblock %}
