@font-face {
  font-family: 'Bebas Neue';
  src: url('/static/fonts/Bebas-Neue.otf') format('opentype');
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('/static/fonts/Bebas-Neue.otf') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: 'Metropolis';
  src: url('/static/fonts/Metropolis.otf') format('opentype');
}
@font-face {
  font-family: 'Metropolis';
  src: url('/static/fonts/Metropolis.otf') format('opentype');
  font-weight: bold;
}

/*
StockX Colors

green: #3BAF28
red: #FF5A5F
bgDark: #12252C
bgGray: #252525
*/

body {
  padding: 1rem 0;
  font-family: "Metropolis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  text-align: right;
  font-size: 2rem;
}

nav a {
  margin: 0 .5rem;
}

header {
  text-align: center;
}

a, a:hover {
  color: #3BAF28;
}

#shoebox {
  content: "";
  display: table;
  clear: both;
}

div.shoe {
  display: inline-block;
  float: left;
  width: 90px;
  height: 90px;
  border: 1px solid #252525;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding: 30px;
}

div.shoe > div {
  margin: .5rem 0;
}
